/* header에 대한 css 적용 */
header {
    width: 100%; /* 헤더의 너비를 전체 폭으로 설정 */
    height:80px;
    margin: 0; /* 상하 마진 제거 */
    background-color: white; /* 흰색 배경 */
    position: fixed;
    padding: 10px 0; /* 상하 패딩 */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* 그림자 효과 */
    top: 0; /* 상단에 위치 */
    left: 0; /* 왼쪽에 위치 */
    z-index: 100;
    align-items: center; /* 수직 중앙 정렬 */
    justify-content: space-between; /* 요소들 사이에 공간을 균등하게 분배 */
    display: flex; /* 가로 정렬 */
}

body {
  font-family: 'Noto Sans KR';
}

#header-logo {
    width: 100px; /* 로고 이미지의 너비를 비율에 맞게 자동 조정 */
    height: 50px; /* 로고 이미지의 높이 */
    margin-left:20px;
}

.header-link {
    text-decoration: none; /* 밑줄 제거 */
    color: inherit; /* 링크의 색상을 상속받아 기본 텍스트 색상과 동일하게 설정 */
}


.header-link h3 {
    margin-right: 30px;
    transition: box-shadow 0.3s ease; /* 그림자 효과의 전환을 부드럽게 */
    font-size:20px;
}

.header-link:hover h3 {
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2); /* 마우스 오버 시 그림자 효과 */
}
	

/* Body 영역에 대한 CSS */
.mc {
    padding: 20px; /* 적절한 패딩을 설정합니다. */
    margin: auto; /* 페이지 중앙에 위치하도록 설정합니다. */
    width: 100% !important; /* 너비를 100%로 강제 적용 */
    max-width: none;
    /* 필요에 따라 추가 스타일을 적용할 수 있습니다. */
  }
  
  .common-button-style {
    width: 300px; /* 버튼의 너비 설정 */
    height: 60px; /* 버튼의 높이 설정 */
    padding: 10px 20px; /* 버튼의 패딩 설정 */
    margin-bottom: 10px; /* 버튼 간의 하단 여백 설정 */
    border: 1px solid #ccc; /* 테두리 설정 */
    border-radius: 5px; /* 테두리 둥근 설정 */
    background-color: #707070; /* 연한 검정색 배경 설정 */
    color: white; /* 텍스트 색상을 흰색으로 설정 */
    font-size: 16px; /* 텍스트 크기 설정 */
    cursor: pointer; /* 마우스 커서를 포인터로 설정 */
  }
  
  
  
  
  /* 반응형 디자인을 위한 미디어 쿼리 */
  @media (max-width: 768px) {
    .mc {
        padding: 10px;
        max-width: 100%;
    }
  }
  
  .image-container1, .image-container2 {
    width: 100%;             /* 영역의 가로 너비를 페이지 전체 너비로 설정 */
  }
  
  .myInfoText, .history, .inquiryList {
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 700; /* 'Noto Sans KR'의 두께를 700으로 설정 */
    text-align: center; /* 텍스트 중앙 정렬 */
    font-size: 24px; /* 폰트 크기를 24px로 설정 */
  }
  
  footer {
    margin-top: 20px;    /* 상단 여백 */
    margin-bottom: 20px; /* 하단 여백 */
    /* 필요에 따라 좌, 우 여백도 설정할 수 있습니다. */
  }

.content {
  width: 100%;
}

.content-header {
  display: flex;
  width: 100%;
  height: 400px;
  align-items: center;
  text-align: center;
  background-color: #2e316d;
}

.content-header-mypage {
  width: 150px;
  margin-left: 50px;
  margin-bottom: 100px;
  color: white;
  font-size: 24px;
}

.content-header-mypage-info {
  display: flex;
  width: 1000px;
  margin-top: 250px;
  margin-left: 150px;
  align-items: center;
}

.content-header-username {
  width: 400px;
  text-align: right;
  color: white;
  font-size: 48px;
}

.content-header-plus {
  width: 100px;
  margin-top: 40px;
  text-align: center;
  font-size: 20px;
  color: #b5b5b5;
}

.content-header-usertype {
  width: 300px;
  margin-top: 40px;
  text-align: right;
  font-size: 20px;
  color: rgb(255, 158, 158);
}

.content-body {
  width: 100%;
  padding: 200px;
  margin-left: 100px;
  margin-right: 100px;
}

.content-wrap {
  width: 1200px;
}

#mypageId {
  border-top: 3px solid;
}

#mypageRole {
  border-bottom: 3px solid;
}

.content-body-item {
  display: flex;
  width: 100%;
  height: 70px;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid;
}

.content-body-item-header {
  width: 300px;
  height: 30px;
  text-align: center;
  border-right: 1px solid;
}

.content-body-item-body1, .content-body-item-body2, .content-body-item-body3, .content-body-item-body4 {
  width: 900px;
  margin-left: 30px;
}

.content-button-section {
  width: 1200px;
  text-align: right;
}

button.edit-password-button {
  border: 0;
  outline: none;
  font-size: 16px;
  margin: 20px;
  background: #2e316d;
  color: white;
  padding: 10px;
  cursor: pointer;
  border-radius: 10px;
}

button.withdraw-button {
  border: 0;
  outline: none;
  font-size: 16px;
  margin: 20px;
  background: #2e316d;
  color: white;
  padding: 10px;
  cursor: pointer;
  border-radius: 10px;
}
  
  
  